
__pycache__/typer.cpython-311.pyc
__pycache__/datascrape.cpython-311.pyc
__pycache__/menu_elements.cpython-311.pyc
__pycache__/memread.cpython-311.pyc
__pycache__/memread.cpython-312.pyc
__pycache__/menu_elements.cpython-312.pyc
__pycache__/typer.cpython-312.pyc
__pycache__/datascrape.cpython-312.pyc
__pycache__/memread.cpython-311.pyc
